.tss-sectiontitle {
    padding-bottom: 16px;
}


.tss-sectiontitle-title {
    display: inline-flex;
    height: 32px;
    line-height: 32px;
    padding-left: 16px;
}

.tss-sectiontitle-subtitle {
    display: inline-flex;
}

.tss-sectiontitle-icon {
    display: inline-flex;
    height: 32px;
    line-height: 32px !important;
}