/* ListItemText */
.tss-listitemtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    -webkit-user-select: none;
    user-select: none;
}

.tss-listitemtext-content {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.tss-listitemtext-title {
    font-size: var(--tss-font-size-medium);
    font-weight: var(--tss-font-weight-semibold);
    color: var(--tss-default-foreground-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tss-listitemtext-subtitle {
    font-size: var(--tss-font-size-small);
    font-weight: var(--tss-font-weight-regular);
    color: var(--tss-secondary-foreground-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tss-listitemtext-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: var(--tss-secondary-background-color);
    color: var(--tss-default-foreground-color);
}
