@keyframes highlight {
    0% { background-color: orange; }
    100% { background-color: transparent; }
}

.flash-bg {
    animation: highlight 2s ease-out;
}
.tss-codediff-wrap .d2h-code-line,
.tss-codediff-wrap .d2h-code-side-line {
    white-space: normal;
}

.tss-codediff-wrap .d2h-code-line-ctn {
    white-space: pre-wrap;
    word-break: break-word;
}
