/* Modal */
.mss-modal-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mss-modal {
    margin: 0;
    padding: 0;
    background-color: var(--mss-default-background-color);
    box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
    border-radius: 2px;
    position: relative;
    text-align: left;
    right: auto;
    top: 0;
    left: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    outline: transparent solid 3px;
    max-height: calc(100% - 32px);
    max-width: calc(100% - 32px);
    min-height: 176px;
    min-width: 288px;
    overflow-y: auto;
    align-items: stretch;
    visibility: visible;
}

.mss-modal-header {
    font-size: var(--mss-font-size-mediumplus);
    font-weight: var(--mss-font-weight-semibold);
}

.mss-modal-command {
    margin: 0;
    border: 0;
    padding: 12px 24px;
    position: relative;
    border-top: 4px solid rgb(0, 120, 212);
}

    .mss-modal-command button {
        position: absolute;
        right: 18px;
        top: 12px;
        bottom: 0;
        background-color: transparent;
        color: var(--mss-secondary-foreground-color);
        border: medium none;
        cursor: pointer;
        width: 32px;
        height: 32px;
        user-select: none;
        border-radius: 2px;
        padding: 0 4px;
        text-align: center;
        display: inline-block;
        font-size: var(--mss-font-size-mediumplus);
        font-weight: lighter;
    }

        .mss-modal-command button:hover {
            background-color: var(--mss-default-background-hover-color);
            color: var(--mss-default-foreground-color);
        }

        .mss-modal-command button:active {
            background-color: var(--mss-default-background-active-color);
            color: var(--mss-primary-background-active-color);
        }

.mss-modal-content {
    overflow-y: hidden;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0px 20px 20px 20px;
}

.mss-modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.mss-modal-lightDismiss {
    cursor: pointer;
}

.mss-modal-draggable {
    cursor: move;
}

.mss-modal-modeless {
    visibility: hidden
}
