/* Button */
button {
    font-family: inherit;
}
    button:focus {
        outline: none;
    }

.tss-btn {
    border: 1px solid;
    border-radius: 2px;
    outline: transparent none medium;
    min-width: 80px;
    user-select: none;
    cursor: pointer;
    padding: 0px 16px;
    min-height: 32px;
    margin: 4px;
    display: inline-flex;
    align-items: center;
}

.tss-btn:focus {
    outline: none;

}

    .tss-btn.disabled {
        color: var(--tss-disabled-foreground-color);
        background-color: var(--tss-disabled-background-color);
        border-color: var(--tss-disabled-background-color);
    }

    .tss-btn > i {
        margin-right: 4px;
    }

.tss-btn-default {
    color: var(--tss-default-foreground-color);
    background-color: var(--tss-default-background-color);
    border-color: var(--tss-default-border-color);
}

    .tss-btn-default:hover {
        color: var(--tss-default-foreground-hover-color);
        background-color: var(--tss-default-background-hover-color);
    }

    .tss-btn-default:active {
        color: var(--tss-default-foreground-active-color);
        background-color: var(--tss-default-background-active-color);
    }

.tss-btn-noborder {
    border-color: transparent;
}

.tss-btn-nobg {
    background: transparent;
}

.tss-btn-primary {
    color: var(--tss-primary-foreground-color);
    background-color: var(--tss-primary-background-color);
    border-color: var(--tss-primary-border-color);
}

    .tss-btn-primary:hover {
        color: var(--tss-primary-foreground-hover-color);
        background-color: var(--tss-primary-background-hover-color);
    }

    .tss-btn-primary:active {
        color: var(--tss-primary-foreground-active-color);
        background-color: var(--tss-primary-background-active-color);
    }


.tss-btn-danger {
    color: var(--tss-danger-foreground-color);
    background-color: var(--tss-danger-background-color);
    border-color: var(--tss-danger-border-color);
}

    .tss-btn-danger:hover {
        color: var(--tss-danger-foreground-hover-color);
        background-color: var(--tss-danger-background-hover-color);
    }

    .tss-btn-danger:active {
        color: var(--tss-danger-foreground-active-color);
        background-color: var(--tss-danger-background-active-color);
    }


.tss-btn-success {
    color: var(--tss-success-foreground-color);
    background-color: var(--tss-success-background-color);
    border-color: var(--tss-success-border-color);
}

    .tss-btn-success:hover {
        color: var(--tss-success-foreground-hover-color);
        background-color: var(--tss-success-background-hover-color);
    }

    .tss-btn-success:active {
        color: var(--tss-success-foreground-active-color);
        background-color: var(--tss-success-background-active-color);
    }