/* Sidebar */

.tss-sidebar {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    height: 100%;
    width: 64px;
    transform: translateZ(0px);
    background: var(--tss-sidebar-background-color);
    color: var(--tss-sidebar-foreground-color);
    transition: width 0.1s ease 0s;
}
    .tss-sidebar.light {
        color: var(--tss-default-foreground-color);
        background: var(--tss-default-background-color);
    }


    .tss-sidebar.small {
        width: 32px;
    }

        .tss-sidebar.small:hover {
            width: auto;
        }

    .tss-sidebar:hover {
        width: auto;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 50px 0px;
        transition: box-shadow 0.2s ease 0s;
        animation-delay: 0.05s, 0s;
    }



.tss-sidebar-content {
    margin: 0;
    padding: 0;
    background-color: var(--tss-default-background-color);
    margin-left: 64px;
    height: 100%;
    overflow: auto;
    transition: margin-left 0.3s ease 0s;
}

.tss-sidebar-host{
    margin: 0;
    padding:0;
    overflow:hidden;
    height:100%;
    width:100%;
}

    .tss-sidebar-host.hidden > .tss-sidebar {
        display: none;
        width: 0px;
    }

    .tss-sidebar-host.hidden > .tss-sidebar-content {
        margin-left: 0px;
    }



    .tss-sidebar-item {
        position: relative;
        width: 100%;
        height: 42px;
        line-height: 42px;
        padding-left: 64px;
        padding-right: 64px;
        color: var(--tss-sidebar-foreground-color);
        cursor: pointer;
        user-select: none;
        transition: color 0.1s ease 0s;
    }

    .tss-sidebar-item.extrapadding {
        padding-top: 20px;
        padding-bottom: 20px;
        box-sizing: content-box;
    }

.tss-sidebar.light > .tss-sidebar-item {
    color: var(--tss-secondary-foreground-color);
}


.tss-sidebar-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.tss-sidebar-label {
    position: relative;
    right: 12px;
    visibility: hidden;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    transition: right 0.1s ease 0s, visibility, opacity;
    white-space: nowrap;
}

.tss-sidebar:hover > .tss-sidebar-item > .tss-sidebar-label {
    right: 0px;
    visibility: visible;
    opacity: 1;
}

.tss-sidebar-icon {
    display: inline-block;
    font-size: 22px;
    position: absolute;
    left: 0px;
    text-align:center;
    width:64px;
}

.tss-sidebar-item.selected {
    background: rgba(255, 255, 255, 0.2);
}

.tss-sidebar.light > .tss-sidebar-item.selected {
    background: var(--tss-default-background-active-color);
}

.tss-sidebar.light > .tss-sidebar-item:hover {
    background: var(--tss-default-background-hover-color);
}


.tss-sidebar-item.nonselectable {
    cursor:none;
    pointer-events:none;
}

.tss-sidebar-item.disabled {
    cursor: none;
    pointer-events: none;
    color: var(--tss-disabled-foreground-color);
}

    .tss-sidebar.small > .tss-sidebar-item > .tss-sidebar-icon {
        font-size: 18px;
        left: 0px;
        width: 32px;
    }

    .tss-sidebar.small + .tss-sidebar-content {
        margin-left: 32px;
    }

    .tss-sidebar.small > .tss-sidebar-item {
        height: 32px;
        line-height: 32px;
        padding-left: 32px;
        padding-right: 32px;
    }

.tss-sidebar-host.open > .tss-sidebar {
    width: auto;
    box-shadow: none;
}

.tss-sidebar-host.open > .tss-sidebar-content {
    margin-left: unset;
}

.tss-sidebar-host.open > .tss-sidebar > .tss-sidebar-item > .tss-sidebar-label {
    right: 0px;
    visibility: visible;
    opacity: 1;
}
