/* Variables */
:root {
    /* Weights */
    --tss-font-weight-regular: 400;
    --tss-font-weight-semibold: 600;
    --tss-font-weight-bold: 700;
    /* Sizes */
    --tss-font-size-mega: 42px;
    --tss-font-size-xxlarge: 32px;
    --tss-font-size-xlarge: 28px;
    --tss-font-size-large: 24px;
    --tss-font-size-mediumplus: 20px;
    --tss-font-size-medium: 18px;
    --tss-font-size-smallplus: 16px;
    --tss-font-size-small: 14px;
    --tss-font-size-xsmall: 12px;
    --tss-font-size-tiny: 10px;
    /* Colors */
    --tss-default-background-color: rgb(255, 255, 255);
    --tss-default-foreground-color: rgb(50, 49, 48);
    --tss-secondary-foreground-color: rgb(96, 94, 92);
    --tss-disabled-background-color: rgb(243, 242, 241);
    --tss-disabled-foreground-color: rgb(161, 159, 157);
    --tss-default-border-color: rgb(138, 136, 134);
    --tss-invalid-border-color: rgb(164, 38, 44);
    --tss-default-background-hover-color: rgb(243, 242, 241);
    --tss-default-foreground-hover-color: rgb(32, 31, 30);
    --tss-default-background-active-color: rgb(237, 235, 233);
    --tss-default-foreground-active-color: rgb(32, 31, 30);
    --tss-primary-background-color: rgb(0, 120, 212);
    --tss-primary-foreground-color: rgb(255, 255, 255);
    --tss-primary-border-color: rgb(16, 110, 190);
    --tss-primary-background-hover-color: rgb(16, 110, 190);
    --tss-primary-foreground-hover-color: rgb(255, 255, 255);
    --tss-primary-background-active-color: rgb(0, 90, 158);
    --tss-primary-foreground-active-color: rgb(255, 255, 255);
    --tss-slider-color: rgb(200, 198, 196);
    --tss-slider-active-color: rgb(222, 236, 249);
    --tss-slider-disabled-color: rgb(243, 242, 241);
    --tss-overlay-light: rgba(255, 255, 255, 0.4);
    --tss-overlay-dark: rgba(0, 0, 0, 0.4);
}

/* Fonts */
/* Sizes */
.tss-fontSize-mega {
    font-size: var(--tss-font-size-mega);
}

.tss-fontSize-xxlarge {
    font-size: var(--tss-font-size-xxlarge);
}

.tss-fontSize-xlarge {
    font-size: var(--tss-font-size-xlarge);
}

.tss-fontSize-large {
    font-size: var(--tss-font-size-large);
}

.tss-fontSize-mediumplus {
    font-size: var(--tss-font-size-mediumplus);
}

.tss-fontSize-medium {
    font-size: var(--tss-font-size-medium);
}

.tss-fontSize-smallplus {
    font-size: var(--tss-font-size-smallplus);
}

.tss-fontSize-small {
    font-size: var(--tss-font-size-small);
}

.tss-fontSize-xsmall {
    font-size: var(--tss-font-size-xsmall);
}

.tss-fontSize-tiny {
    font-size: var(--tss-font-size-tiny);
}

/* Weights */
.tss-fontWeight-regular {
    font-weight: var(--tss-font-weight-regular);
}

.tss-fontWeight-semibold {
    font-weight: var(--tss-font-weight-semibold);
}

.tss-fontWeight-bold {
    font-weight: var(--tss-font-weight-bold);
}

.tss-fontColor-invalid {
    color: var(--tss-invalid-border-color);
}

*, :before, :after {
    box-sizing: border-box;
}

.disabled {
    pointer-events: none;
    color: var(--tss-disabled-foreground-color);
}

.tss-required:after {
    content: "*";
    color: var(--tss-invalid-border-color);
    position: absolute;
    top: -3px;
    right: -10px;
    display: inline-block;
    font-size: var(--tss-font-size-medium);
    font-weight: var(--tss-font-weight-regular);
}