.tss-picker-container {
    width: 100%;
}

.tss-picker-container-inline-selections {
    display: inline-flex;
}

.tss-picker-container-inline-selections .tss-textbox-container {
    flex-grow: 1;
    flex-shrink: 1;
}

.tss-layer-picker-suggestions {
    background: var(--tss-default-background-color);
    border-radius: 2px;
    box-shadow: var(--tss-box-shadow);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    min-width: 260px;
    position: absolute;
    -webkit-font-smoothing: antialiased;
}

.tss-picker-suggestions .tss-picker-suggestion {
    padding: 5px 10px;
    position: relative;
    text-align: center;
}

.tss-picker-selections-inline {
    align-items: center;
    display: inline-flex;
}

.tss-picker-selections-inline .tss-picker-selection {
    padding-right: 5px;
}

.tss-picker-selections-inline .tss-picker-selection i {
    padding-left: 5px;
}

.tss-picker-selections .tss-picker-selection i {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
