/* Label */
.tss-label {
    margin: 0;
    margin-top: 4px;
    position: relative;
}

.tss-stack-item:first-child > .tss-label:first-child {
    margin-top: 0px;
}

    .tss-label > label {
        margin: 4px;
        position: relative;
    }

    .tss-label > div {
        margin: 0;
    }
