/* Layer */
.mss-layer-base {
    display: none;
}

.mss-layer {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.mss-layer-content {
    margin: 0;
    padding: 0;
    background-color: var(--mss-default-background-color);
    border: 1px solid var(--mss-default-border-color);
    visibility: visible;
}

.mss-layer-host {
    position: relative;
}