/* Variables */
:root {
    /* Weights */
    --mss-font-weight-regular: 400;
    --mss-font-weight-semibold: 600;
    --mss-font-weight-bold: 700;
    /* Sizes */
    --mss-font-size-mega: 42px;
    --mss-font-size-xxlarge: 32px;
    --mss-font-size-xlarge: 28px;
    --mss-font-size-large: 24px;
    --mss-font-size-mediumplus: 20px;
    --mss-font-size-medium: 18px;
    --mss-font-size-smallplus: 16px;
    --mss-font-size-small: 14px;
    --mss-font-size-xsmall: 12px;
    --mss-font-size-tiny: 10px;
    /* Colors */
    --mss-default-background-color: rgb(255, 255, 255);
    --mss-default-foreground-color: rgb(50, 49, 48);
    --mss-disabled-background-color: rgb(243, 242, 241);
    --mss-disabled-foreground-color: rgb(161, 159, 157);
    --mss-default-border-color: rgb(138, 136, 134);
    --mss-invalid-border-color: rgb(164, 38, 44);
    --mss-default-background-hover-color: rgb(243, 242, 241);
    --mss-default-foreground-hover-color: rgb(32, 31, 30);
    --mss-default-background-active-color: rgb(237, 235, 233);
    --mss-default-foreground-active-color: rgb(32, 31, 30);
    --mss-primary-background-color: rgb(0, 120, 212);
    --mss-primary-foreground-color: rgb(255, 255, 255);
    --mss-primary-border-color: rgb(16, 110, 190);
    --mss-primary-background-hover-color: rgb(16, 110, 190);
    --mss-primary-foreground-hover-color: rgb(255, 255, 255);
    --mss-primary-background-active-color: rgb(0, 90, 158);
    --mss-primary-foreground-active-color: rgb(255, 255, 255);
    --mss-slider-color: rgb(200, 198, 196);
    --mss-slider-active-color: rgb(222, 236, 249);
    --mss-slider-disabled-color: rgb(243, 242, 241);
}

/* Fonts */
/* Sizes */
.mss-fontSize-mega {
    font-size: var(--mss-font-size-mega);
}

.mss-fontSize-xxlarge {
    font-size: var(--mss-font-size-xxlarge);
}

.mss-fontSize-xlarge {
    font-size: var(--mss-font-size-xlarge);
}

.mss-fontSize-large {
    font-size: var(--mss-font-size-large);
}

.mss-fontSize-mediumplus {
    font-size: var(--mss-font-size-mediumplus);
}

.mss-fontSize-medium {
    font-size: var(--mss-font-size-medium);
}

.mss-fontSize-smallplus {
    font-size: var(--mss-font-size-smallplus);
}

.mss-fontSize-small {
    font-size: var(--mss-font-size-small);
}

.mss-fontSize-xsmall {
    font-size: var(--mss-font-size-xsmall);
}

.mss-fontSize-tiny {
    font-size: var(--mss-font-size-tiny);
}

/* Weights */
.mss-fontWeight-regular {
    font-weight: var(--mss-font-weight-regular);
}

.mss-fontWeight-semibold {
    font-weight: var(--mss-font-weight-semibold);
}

.mss-fontWeight-bold {
    font-weight: var(--mss-font-weight-bold);
}

.mss-fontColor-invalid {
    color: var(--mss-invalid-border-color);
}

/* Body */
body {
    overflow-y: scroll;
}

/* Stack */
.mss-stack {
    display: flex;
    flex-direction: column;
}

.mss-stack-item {
    height: auto;
}

/* Button */
button:focus {
    outline: 0;
}

.mss-btn {
    border: 1px solid;
    border-radius: 2px;
    font-size: var(--mss-font-size-small);
    font-weight: var(--mss-font-weight-regular);
    outline: transparent none medium;
    min-width: 80px;
    user-select: none;
    cursor: pointer;
    padding: 0px 16px;
    min-height: 32px;
}

    .mss-btn.disabled {
        color: var(--mss-disabled-foreground-color);
        background-color: var(--mss-disabled-background-color);
        border-color: var(--mss-disabled-background-color);
    }

.mss-btn-default {
    color: var(--mss-default-foreground-color);
    background-color: var(--mss-default-background-color);
    border-color: var(--mss-default-border-color);
}

    .mss-btn-default:hover {
        color: var(--mss-default-foreground-hover-color);
        background-color: var(--mss-default-background-hover-color);
    }

    .mss-btn-default:active {
        color: var(--mss-default-foreground-active-color);
        background-color: var(--mss-default-background-active-color);
    }

.mss-btn-primary {
    color: var(--mss-primary-foreground-color);
    background-color: var(--mss-primary-background-color);
    border-color: var(--mss-primary-border-color);
}

    .mss-btn-primary:hover {
        color: var(--mss-primary-foreground-hover-color);
        background-color: var(--mss-primary-background-hover-color);
    }

    .mss-btn-primary:active {
        color: var(--mss-primary-foreground-active-color);
        background-color: var(--mss-primary-background-active-color);
    }


/* CheckBox */
.mss-checkbox-container {
    position: relative;
    cursor: pointer;
    color: var(--mss-default-foreground-color);
    font-size: var(--mss-font-size-small);
    font-weight: var(--mss-font-weight-regular);
    user-select: none;
    padding-left: 25px;
}

    .mss-checkbox-container .mss-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .mss-checkbox-container .mss-checkbox-mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 2px;
        background-color: var(--mss-default-background-color);
        border: 1px solid var(--mss-default-foreground-color);
    }

    .mss-checkbox-container:hover input ~ .mss-checkbox-mark:after {
        display: block;
    }

    .mss-checkbox-container input:checked ~ .mss-checkbox-mark {
        background-color: var(--mss-primary-background-color);
        border-color: var(--mss-primary-background-color);
    }

    .mss-checkbox-container:hover input:checked ~ .mss-checkbox-mark {
        background-color: var(--mss-primary-background-hover-color);
    }

    .mss-checkbox-container input:checked ~ .mss-checkbox-mark:after {
        display: block;
        border-color: var(--mss-primary-foreground-color);
    }

    .mss-checkbox-container .mss-checkbox-mark:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 1px;
        width: 7px;
        height: 12px;
        border: solid var(--mss-default-border-color);
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
    }

    .mss-checkbox-container.disabled {
        color: var(--mss-disabled-foreground-color);
    }

        .mss-checkbox-container.disabled .mss-checkbox-mark {
            background-color: var(--mss-disabled-background-color);
            border-color: var(--mss-disabled-foreground-color);
        }

        .mss-checkbox-container.disabled input:checked ~ .mss-checkbox-mark {
            background-color: var(--mss-disabled-foreground-color);
            border-color: var(--mss-disabled-foreground-color);
        }

/* Toggle */
.mss-toggle-container {
    position: relative;
    cursor: pointer;
    color: var(--mss-default-foreground-color);
    font-size: var(--mss-font-size-small);
    font-weight: var(--mss-font-weight-regular);
    user-select: none;
    padding-left: 45px;
}

    .mss-toggle-container .mss-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .mss-toggle-container .mss-toggle-mark {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        height: 20px;
        width: 40px;
        background-color: var(--mss-default-background-color);
        border: 1px solid var(--mss-default-foreground-color);
        border-radius: 10px;
    }

    .mss-toggle-container:hover .mss-toggle-mark {
        background-color: var(--mss-default-background-hover-color);
        border-color: var(--mss-default-foreground-hover-color);
    }

        .mss-toggle-container:hover .mss-toggle-mark:after {
            background-color: var(--mss-default-foreground-hover-color);
        }

    .mss-toggle-container input:checked ~ .mss-toggle-mark {
        background-color: var(--mss-primary-background-color);
        border-color: var(--mss-primary-background-color);
    }

    .mss-toggle-container:hover input:checked ~ .mss-toggle-mark {
        background-color: var(--mss-primary-background-hover-color);
    }

    .mss-toggle-container input:checked ~ .mss-toggle-mark:after {
        background-color: var(--mss-primary-foreground-color);
        left: unset;
        right: 3px;
    }

    .mss-toggle-container .mss-toggle-mark:after {
        content: "";
        position: absolute;
        display: inline-block;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--mss-default-foreground-color);
    }

    .mss-toggle-container.disabled {
        color: var(--mss-disabled-foreground-color);
    }

        .mss-toggle-container.disabled .mss-toggle-mark {
            background-color: var(--mss-disabled-background-color);
            border-color: var(--mss-disabled-foreground-color);
        }

        .mss-toggle-container.disabled input:checked ~ .mss-toggle-mark {
            background-color: var(--mss-disabled-foreground-color);
            border-color: var(--mss-disabled-foreground-color);
        }

/* Choice */
.mss-choice-group {
    display: flex;
}

.mss-option-container {
    position: relative;
    cursor: pointer;
    color: var(--mss-default-foreground-color);
    font-size: var(--mss-font-size-small);
    font-weight: var(--mss-font-weight-regular);
    user-select: none;
    padding-left: 25px;
}

    .mss-option-container .mss-option {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .mss-option-container .mss-option-mark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid var(--mss-default-foreground-color);
    }

    .mss-option-container:hover input ~ .mss-option-mark:after {
        display: block;
    }

    .mss-option-container input:checked ~ .mss-option-mark {
        border-color: var(--mss-primary-background-color);
    }

    .mss-option-container:hover input:checked ~ .mss-option-mark {
        border-color: var(--mss-primary-background-hover-color);
    }

    .mss-option-container input:checked ~ .mss-option-mark:after {
        display: block;
        border-color: var(--mss-primary-background-color);
    }

    .mss-option-container:hover input:checked ~ .mss-option-mark:after {
        border-color: var(--mss-primary-background-hover-color);
    }


    .mss-option-container .mss-option-mark:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 4px;
        width: 10px;
        height: 10px;
        border: solid var(--mss-default-foreground-color);
        border-width: 5px;
        border-radius: 50%;
    }

    .mss-option-container.disabled {
        color: var(--mss-disabled-foreground-color);
    }

        .mss-option-container.disabled .mss-option-mark {
            border-color: var(--mss-disabled-foreground-color);
        }

        .mss-option-container.disabled input:checked ~ .mss-option-mark {
            border-color: var(--mss-disabled-foreground-color);
        }

/* TextBox */
.mss-textBox {
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid var(--mss-default-border-color);
    border-radius: 2px;
    background: var(--mss-default-background-color) none repeat scroll 0% 0%;
    color: var(--mss-default-foreground-color);
    cursor: text;
    height: 32px;
    align-items: stretch;
    font-size: var(--mss-font-size-small);
    font-weight: var(--mss-font-weight-regular);
    display: block;
    width: 100%;
    outline: transparent none medium;
    padding: 0px 5px;
}

    .mss-textBox:hover {
        border-color: var(--mss-default-foreground-color);
    }

    .mss-textBox:focus {
        border-color: var(--mss-primary-border-color);
    }

.mss-textBox-container {
    position: relative;
}

    .mss-textBox-container.invalid .mss-textBox {
        border-color: var(--mss-invalid-border-color);
    }

.mss-required:after {
    content: "*";
    color: var(--mss-invalid-border-color);
    position: absolute;
    top: -5px;
    right: -10px;
    display: inline-block;
    font-size: var(--mss-font-size-large);
}

.mss-textBox-error {
    color: var(--mss-invalid-border-color);
    display: none;
    font-size: var(--mss-font-size-tiny);
}

.mss-textBox-container.invalid .mss-textBox-error {
    display: block;
}

/* Slider */
.mss-slider-container {
    position: relative;
    user-select: none;
    width: 100%;
}

    .mss-slider-container.vertical {
        transform: rotate(270deg);
    }

        .mss-slider-container.vertical .mss-slider {
            margin-left: -50%;
        }

        .mss-slider-container.vertical .mss-slider-fake-progress {
            margin-left: -50%;
        }

        .mss-slider-container.vertical .mss-slider-fake-background {
            margin-left: -50%;
        }

.mss-slider-fake-progress {
    border-radius: 4px 0px 0px 4px;
    background-color: var(--mss-default-border-color);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 4px;
    z-index: 0;
    user-select: none;
}

.mss-slider-container input:hover ~ .mss-slider-fake-progress {
    background-color: var(--mss-primary-background-color);
}

.mss-slider-container input.disabled ~ .mss-slider-fake-progress {
    background-color: var(--mss-disabled-foreground-color);
}

.mss-slider-container input.disabled:hover ~ .mss-slider-fake-progress {
    background-color: var(--mss-disabled-foreground-color);
}

.mss-slider-fake-background {
    border-radius: 4px;
    background-color: var(--mss-slider-color);
    position: relative;
    left: 0px;
    top: 0px;
    height: 4px;
    width: 100%;
    z-index: 0;
    user-select: none;
}

.mss-slider-container input:hover ~ .mss-slider-fake-background {
    background-color: var(--mss-slider-active-color);
}

.mss-slider-container input.disabled ~ .mss-slider-fake-background {
    background-color: var(--mss-slider-disabled-color);
}


.mss-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--mss-slider-color);
    outline: none;
}

    .mss-slider.fake {
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

        .mss-slider.fake:hover {
            background-color: transparent;
        }

        .mss-slider.fake:disabled {
            background-color: transparent;
        }

    .mss-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        background-color: var(--mss-default-background-color);
        border: 2px solid var(--mss-default-border-color);
    }

    .mss-slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 10px;
        background-color: var(--mss-default-background-color);
        border: 2px solid var(--mss-default-border-color);
    }

    .mss-slider::-moz-range-progress {
        height: 4px;
        border-radius: 4px;
        background-color: var(--mss-default-border-color);
    }

    .mss-slider:hover {
        background-color: var(--mss-slider-active-color);
    }

        .mss-slider:hover::-webkit-slider-thumb {
            border-color: var(--mss-primary-background-color);
        }

        .mss-slider:hover::-moz-range-thumb {
            border-color: var(--mss-primary-background-color);
        }

        .mss-slider:hover::-moz-range-progress {
            background-color: var(--mss-primary-background-color);
        }

    .mss-slider.disabled {
        background-color: var(--mss-slider-disabled-color);
    }

        .mss-slider.disabled::-webkit-slider-thumb {
            border-color: var(--mss-disabled-foreground-color);
        }

        .mss-slider.disabled::-moz-range-thumb {
            border-color: var(--mss-disabled-foreground-color);
        }

        .mss-slider.disabled::-moz-range-progress {
            background-color: var(--mss-disabled-foreground-color);
        }


/* Layer */
.mss-layer-base {
    display: none;
}

.mss-layer {
    z-index: 1000000;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.mss-layer-content {
    margin: 0;
    padding: 0;
    background-color: var(--mss-default-background-color);
    border: 1px solid var(--mss-default-border-color);
    visibility: visible;
}

.mss-layer-host {
    position: relative;
}

/* Nav */
.mss-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mss-nav-link {
    list-style: none;
}

.mss-nav-link-button {
    background: transparent;
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    border: none;
    outline: transparent none medium;
    user-select: none;
    margin: 0;
    cursor: pointer;
}

    .mss-nav-link-button:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 10px;
        height: 10px;
        border: solid var(--mss-default-border-color);
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
    }

.expandable > .mss-nav-link-button {
    display: inline-block;
}

.mss-nav-link.expanded .mss-nav-link-button:after {
    border-width: 1px 0 0 1px;
    top: 7px;
}

.mss-nav-link .mss-nav-link-header {
    background: var(--mss-default-background-color);
    border-left: 4px solid var(--mss-default-background-color);
    cursor: pointer;
    user-select: none;
    padding: 0.25em;
    position: relative;
}

    .mss-nav-link .mss-nav-link-header:hover {
        background: var(--mss-default-background-active-color);
    }

    .mss-nav-link .mss-nav-link-header.selected {
        background: var(--mss-default-background-active-color);
        border-left-color: var(--mss-primary-background-color);
    }

    .mss-nav-link .mss-nav-link-header span {
        margin-left:25px;
    }

.mss-nav-link .mss-nav-link-container {
    display: none;
    padding: 0;
}

.mss-nav-link.expanded .mss-nav-link-container {
    display: block;
}
