/* Nav */
.mss-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 24px;
}

.mss-nav-link {
    list-style: none;
}

.mss-nav-link-button {
    background: transparent;
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 20px;
    border: none;
    outline: transparent none medium;
    user-select: none;
    margin: 0;
    cursor: pointer;
}

    .mss-nav-link-button:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 10px;
        height: 10px;
        border: solid var(--mss-default-border-color);
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
    }

.expandable > .mss-nav-link-button {
    display: inline-block;
}

.mss-nav-link.expanded .mss-nav-link-button:after {
    border-width: 1px 0 0 1px;
    top: 7px;
}

.mss-nav-link .mss-nav-link-header {
    background: var(--mss-default-background-color);
    border-left: 4px solid var(--mss-default-background-color);
    cursor: pointer;
    user-select: none;
    padding: 0.25em;
    position: relative;
}

    .mss-nav-link .mss-nav-link-header:hover {
        background: var(--mss-default-background-active-color);
    }

    .mss-nav-link .mss-nav-link-header.selected {
        background: var(--mss-default-background-active-color);
        border-left-color: var(--mss-primary-background-color);
    }

    .mss-nav-link .mss-nav-link-header span {
        margin-left: 25px;
    }

.mss-nav-link .mss-nav-link-container {
    display: none;
    padding: 0;
}

.mss-nav-link.expanded .mss-nav-link-container {
    display: block;
}
