.tss-picker-container {
    display: inline-flex;
    width: 100%;
}

.tss-picker-container .tss-textbox-container {
    flex-grow: 1;
    flex-shrink: 1;
}

.tss-layer-picker-suggestions {
    background: var(--tss-default-background-color);
    border-radius: 2px;
    box-shadow: var(--tss-box-shadow);
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    min-width: 260px;
    position: absolute;
    -webkit-font-smoothing: antialiased;
}

.tss-picker-suggestions * {
    padding: 5px 10px;
    position: relative;
    text-align: center;
}

.tss-picker-selections {
    align-items: center;
    display: inline-flex;
}
