/* TextBox */
.mss-textBox {
    box-shadow: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid var(--mss-default-border-color);
    border-radius: 2px;
    background: var(--mss-default-background-color) none repeat scroll 0% 0%;
    color: var(--mss-default-foreground-color);
    cursor: text;
    height: 32px;
    align-items: stretch;
    font-size: var(--mss-font-size-small);
    font-weight: var(--mss-font-weight-regular);
    display: block;
    width: 100%;
    outline: transparent none medium;
    padding: 0px 5px;
}

    .mss-textBox:hover {
        border-color: var(--mss-default-foreground-color);
    }

    .mss-textBox:focus {
        border-color: var(--mss-primary-border-color);
    }

.mss-textBox-container {
    position: relative;
    margin-bottom: 4px;
}

    .mss-textBox-container.invalid .mss-textBox {
        border-color: var(--mss-invalid-border-color);
    }



.mss-textBox-error {
    color: var(--mss-invalid-border-color);
    display: none;
    font-size: var(--mss-font-size-tiny);
}

.mss-textBox-container.invalid .mss-textBox-error {
    display: block;
}