/* Tabs */
.tss-pivot {
    margin: 0;
    padding: 0;
}

.tss-pivot-selected-title {
    font-weight: var(--tss-font-weight-semibold);
}

.tss-pivot-titlebar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    position: relative;
    color: rgb(0, 120, 212);
    white-space: nowrap;
}

.tss-pivot-content {
    margin: 0;
    padding: 0;
}
.tss-pivot-line {
    height: 3px;
    width: 0px;
    background: var(--tss-primary-background-color)
}