/* Stack */
.tss-splitview {
    display:flex;
    height:100%;
    flex-direction:row;
}

    .tss-splitview > div {
        flex-shrink:0;
    }

.tss-splitter {
    background: var(--tss-overlay-light);
}

    .tss-splitter:hover {
        background: var(--tss-overlay-dark);
    }
