
.extension-grid-stack-card {
    display: flex;
    width: 200px;
    height: 60px;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: content-box;
}

.extension-grid-stack-image {
    width: 60px;
    height: 100%;
    object-fit: fill;
}

.extension-grid-stack-see-more {
    display: flex;
    width: 200px;
    height: 60px;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: content-box;
}

.extension-grid-stack-card-small {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 42px;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: content-box;
    text-align: left;
}

.extension-grid-stack-card-small-see-more {
    display: flex;
    width: 200px;
    height: 42px;
    padding: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 10px;
    box-sizing: content-box;
}
