:root {
    --tss-colors-lime-100-root: 240,254,215;
    --tss-colors-lime-100: rgb(var(--tss-colors-lime-100-root));
    --tss-colors-lime-200-root: 210,242,166;
    --tss-colors-lime-200: rgb(var(--tss-colors-lime-200-root));
    --tss-colors-lime-250-root: 190,232,125;
    --tss-colors-lime-250: rgb(var(--tss-colors-lime-250-root));
    --tss-colors-lime-300-root: 178,224,113;
    --tss-colors-lime-300: rgb(var(--tss-colors-lime-300-root));
    --tss-colors-lime-400-root: 149,198,73;
    --tss-colors-lime-400: rgb(var(--tss-colors-lime-400-root));
    --tss-colors-lime-500-root: 129,182,53;
    --tss-colors-lime-500: rgb(var(--tss-colors-lime-500-root));
    --tss-colors-lime-600-root: 107,153,36;
    --tss-colors-lime-600: rgb(var(--tss-colors-lime-600-root));
    --tss-colors-lime-700-root: 90,128,35;
    --tss-colors-lime-700: rgb(var(--tss-colors-lime-700-root));
    --tss-colors-lime-800-root: 77,106,32;
    --tss-colors-lime-800: rgb(var(--tss-colors-lime-800-root));
    --tss-colors-lime-850-root: 62,83,35;
    --tss-colors-lime-850: rgb(var(--tss-colors-lime-850-root));
    --tss-colors-lime-900-root: 56,70,32;
    --tss-colors-lime-900: rgb(var(--tss-colors-lime-900-root));
    --tss-colors-lime-1000-root: 39,50,26;
    --tss-colors-lime-1000: rgb(var(--tss-colors-lime-1000-root));
    --tss-colors-red-100-root: 255,235,236;
    --tss-colors-red-100: rgb(var(--tss-colors-red-100-root));
    --tss-colors-red-200-root: 254,214,209;
    --tss-colors-red-200: rgb(var(--tss-colors-red-200-root));
    --tss-colors-red-250-root: 255,183,179;
    --tss-colors-red-250: rgb(var(--tss-colors-red-250-root));
    --tss-colors-red-300-root: 252,153,144;
    --tss-colors-red-300: rgb(var(--tss-colors-red-300-root));
    --tss-colors-red-400-root: 249,112,105;
    --tss-colors-red-400: rgb(var(--tss-colors-red-400-root));
    --tss-colors-red-500-root: 240,92,79;
    --tss-colors-red-500: rgb(var(--tss-colors-red-500-root));
    --tss-colors-red-600-root: 227,71,62;
    --tss-colors-red-600: rgb(var(--tss-colors-red-600-root));
    --tss-colors-red-700-root: 200,56,43;
    --tss-colors-red-700: rgb(var(--tss-colors-red-700-root));
    --tss-colors-red-800-root: 175,45,37;
    --tss-colors-red-800: rgb(var(--tss-colors-red-800-root));
    --tss-colors-red-850-root: 134,41,32;
    --tss-colors-red-850: rgb(var(--tss-colors-red-850-root));
    --tss-colors-red-900-root: 94,30,27;
    --tss-colors-red-900: rgb(var(--tss-colors-red-900-root));
    --tss-colors-red-1000-root: 65,35,30;
    --tss-colors-red-1000: rgb(var(--tss-colors-red-1000-root));
    --tss-colors-orange-100-root: 255,244,220;
    --tss-colors-orange-100: rgb(var(--tss-colors-orange-100-root));
    --tss-colors-orange-200-root: 251,229,165;
    --tss-colors-orange-200: rgb(var(--tss-colors-orange-200-root));
    --tss-colors-orange-250-root: 252,214,122;
    --tss-colors-orange-250: rgb(var(--tss-colors-orange-250-root));
    --tss-colors-orange-300-root: 250,201,39;
    --tss-colors-orange-300: rgb(var(--tss-colors-orange-300-root));
    --tss-colors-orange-400-root: 253,166,1;
    --tss-colors-orange-400: rgb(var(--tss-colors-orange-400-root));
    --tss-colors-orange-500-root: 245,138,8;
    --tss-colors-orange-500: rgb(var(--tss-colors-orange-500-root));
    --tss-colors-orange-600-root: 225,107,1;
    --tss-colors-orange-600: rgb(var(--tss-colors-orange-600-root));
    --tss-colors-orange-700-root: 188,92,0;
    --tss-colors-orange-700: rgb(var(--tss-colors-orange-700-root));
    --tss-colors-orange-800-root: 159,75,1;
    --tss-colors-orange-800: rgb(var(--tss-colors-orange-800-root));
    --tss-colors-orange-850-root: 121,60,0;
    --tss-colors-orange-850: rgb(var(--tss-colors-orange-850-root));
    --tss-colors-orange-900-root: 106,49,1;
    --tss-colors-orange-900: rgb(var(--tss-colors-orange-900-root));
    --tss-colors-orange-1000-root: 57,45,30;
    --tss-colors-orange-1000: rgb(var(--tss-colors-orange-1000-root));
    --tss-colors-yellow-100-root: 255,246,201;
    --tss-colors-yellow-100: rgb(var(--tss-colors-yellow-100-root));
    --tss-colors-yellow-200-root: 244,234,136;
    --tss-colors-yellow-200: rgb(var(--tss-colors-yellow-200-root));
    --tss-colors-yellow-250-root: 240,220,79;
    --tss-colors-yellow-250: rgb(var(--tss-colors-yellow-250-root));
    --tss-colors-yellow-300-root: 237,210,42;
    --tss-colors-yellow-300: rgb(var(--tss-colors-yellow-300-root));
    --tss-colors-yellow-400-root: 222,178,15;
    --tss-colors-yellow-400: rgb(var(--tss-colors-yellow-400-root));
    --tss-colors-yellow-500-root: 206,160,1;
    --tss-colors-yellow-500: rgb(var(--tss-colors-yellow-500-root));
    --tss-colors-yellow-600-root: 180,133,1;
    --tss-colors-yellow-600: rgb(var(--tss-colors-yellow-600-root));
    --tss-colors-yellow-700-root: 147,112,0;
    --tss-colors-yellow-700: rgb(var(--tss-colors-yellow-700-root));
    --tss-colors-yellow-800-root: 128,94,2;
    --tss-colors-yellow-800: rgb(var(--tss-colors-yellow-800-root));
    --tss-colors-yellow-850-root: 96,75,4;
    --tss-colors-yellow-850: rgb(var(--tss-colors-yellow-850-root));
    --tss-colors-yellow-900-root: 84,62,5;
    --tss-colors-yellow-900: rgb(var(--tss-colors-yellow-900-root));
    --tss-colors-yellow-1000-root: 50,47,26;
    --tss-colors-yellow-1000: rgb(var(--tss-colors-yellow-1000-root));
    --tss-colors-green-100-root: 221,254,242;
    --tss-colors-green-100: rgb(var(--tss-colors-green-100-root));
    --tss-colors-green-200-root: 185,244,218;
    --tss-colors-green-200: rgb(var(--tss-colors-green-200-root));
    --tss-colors-green-250-root: 152,236,202;
    --tss-colors-green-250: rgb(var(--tss-colors-green-250-root));
    --tss-colors-green-300-root: 125,227,183;
    --tss-colors-green-300: rgb(var(--tss-colors-green-300-root));
    --tss-colors-green-400-root: 76,205,152;
    --tss-colors-green-400: rgb(var(--tss-colors-green-400-root));
    --tss-colors-green-500-root: 41,188,126;
    --tss-colors-green-500: rgb(var(--tss-colors-green-500-root));
    --tss-colors-green-600-root: 35,159,108;
    --tss-colors-green-600: rgb(var(--tss-colors-green-600-root));
    --tss-colors-green-700-root: 30,133,89;
    --tss-colors-green-700: rgb(var(--tss-colors-green-700-root));
    --tss-colors-green-800-root: 34,109,79;
    --tss-colors-green-800: rgb(var(--tss-colors-green-800-root));
    --tss-colors-green-850-root: 24,88,60;
    --tss-colors-green-850: rgb(var(--tss-colors-green-850-root));
    --tss-colors-green-900-root: 23,74,54;
    --tss-colors-green-900: rgb(var(--tss-colors-green-900-root));
    --tss-colors-green-1000-root: 27,52,40;
    --tss-colors-green-1000: rgb(var(--tss-colors-green-1000-root));
    --tss-colors-teal-100-root: 232,248,255;
    --tss-colors-teal-100: rgb(var(--tss-colors-teal-100-root));
    --tss-colors-teal-200-root: 197,238,250;
    --tss-colors-teal-200: rgb(var(--tss-colors-teal-200-root));
    --tss-colors-teal-250-root: 178,227,248;
    --tss-colors-teal-250: rgb(var(--tss-colors-teal-250-root));
    --tss-colors-teal-300-root: 156,218,237;
    --tss-colors-teal-300: rgb(var(--tss-colors-teal-300-root));
    --tss-colors-teal-400-root: 109,194,225;
    --tss-colors-teal-400: rgb(var(--tss-colors-teal-400-root));
    --tss-colors-teal-500-root: 65,179,214;
    --tss-colors-teal-500: rgb(var(--tss-colors-teal-500-root));
    --tss-colors-teal-600-root: 41,151,190;
    --tss-colors-teal-600: rgb(var(--tss-colors-teal-600-root));
    --tss-colors-teal-700-root: 33,126,154;
    --tss-colors-teal-700: rgb(var(--tss-colors-teal-700-root));
    --tss-colors-teal-800-root: 33,105,132;
    --tss-colors-teal-800: rgb(var(--tss-colors-teal-800-root));
    --tss-colors-teal-850-root: 25,83,100;
    --tss-colors-teal-850: rgb(var(--tss-colors-teal-850-root));
    --tss-colors-teal-900-root: 23,68,86;
    --tss-colors-teal-900: rgb(var(--tss-colors-teal-900-root));
    --tss-colors-teal-1000-root: 29,50,54;
    --tss-colors-teal-1000: rgb(var(--tss-colors-teal-1000-root));
    --tss-colors-blue-100-root: 234,241,255;
    --tss-colors-blue-100: rgb(var(--tss-colors-blue-100-root));
    --tss-colors-blue-200-root: 206,226,252;
    --tss-colors-blue-200: rgb(var(--tss-colors-blue-200-root));
    --tss-colors-blue-250-root: 174,202,252;
    --tss-colors-blue-250: rgb(var(--tss-colors-blue-250-root));
    --tss-colors-blue-300-root: 142,185,245;
    --tss-colors-blue-300: rgb(var(--tss-colors-blue-300-root));
    --tss-colors-blue-400-root: 103,156,242;
    --tss-colors-blue-400: rgb(var(--tss-colors-blue-400-root));
    --tss-colors-blue-500-root: 69,137,235;
    --tss-colors-blue-500: rgb(var(--tss-colors-blue-500-root));
    --tss-colors-blue-600-root: 54,124,233;
    --tss-colors-blue-600: rgb(var(--tss-colors-blue-600-root));
    --tss-colors-blue-700-root: 23,105,218;
    --tss-colors-blue-700: rgb(var(--tss-colors-blue-700-root));
    --tss-colors-blue-800-root: 22,87,189;
    --tss-colors-blue-800: rgb(var(--tss-colors-blue-800-root));
    --tss-colors-blue-850-root: 19,72,147;
    --tss-colors-blue-850: rgb(var(--tss-colors-blue-850-root));
    --tss-colors-blue-900-root: 19,49,100;
    --tss-colors-blue-900: rgb(var(--tss-colors-blue-900-root));
    --tss-colors-blue-1000-root: 27,44,65;
    --tss-colors-blue-1000: rgb(var(--tss-colors-blue-1000-root));
    --tss-colors-purple-100-root: 249,237,255;
    --tss-colors-purple-100: rgb(var(--tss-colors-purple-100-root));
    --tss-colors-purple-200-root: 237,216,251;
    --tss-colors-purple-200: rgb(var(--tss-colors-purple-200-root));
    --tss-colors-purple-250-root: 228,188,251;
    --tss-colors-purple-250: rgb(var(--tss-colors-purple-250-root));
    --tss-colors-purple-300-root: 215,161,246;
    --tss-colors-purple-300: rgb(var(--tss-colors-purple-300-root));
    --tss-colors-purple-400-root: 202,123,245;
    --tss-colors-purple-400: rgb(var(--tss-colors-purple-400-root));
    --tss-colors-purple-500-root: 190,100,242;
    --tss-colors-purple-500: rgb(var(--tss-colors-purple-500-root));
    --tss-colors-purple-600-root: 176,88,226;
    --tss-colors-purple-600: rgb(var(--tss-colors-purple-600-root));
    --tss-colors-purple-700-root: 149,75,191;
    --tss-colors-purple-700: rgb(var(--tss-colors-purple-700-root));
    --tss-colors-purple-800-root: 129,62,166;
    --tss-colors-purple-800: rgb(var(--tss-colors-purple-800-root));
    --tss-colors-purple-850-root: 102,51,133;
    --tss-colors-purple-850: rgb(var(--tss-colors-purple-850-root));
    --tss-colors-purple-900-root: 73,35,94;
    --tss-colors-purple-900: rgb(var(--tss-colors-purple-900-root));
    --tss-colors-purple-1000-root: 52,37,62;
    --tss-colors-purple-1000: rgb(var(--tss-colors-purple-1000-root));
    --tss-colors-magenta-100-root: 255,235,249;
    --tss-colors-magenta-100: rgb(var(--tss-colors-magenta-100-root));
    --tss-colors-magenta-200-root: 252,209,235;
    --tss-colors-magenta-200: rgb(var(--tss-colors-magenta-200-root));
    --tss-colors-magenta-250-root: 253,181,226;
    --tss-colors-magenta-250: rgb(var(--tss-colors-magenta-250-root));
    --tss-colors-magenta-300-root: 246,152,209;
    --tss-colors-magenta-300: rgb(var(--tss-colors-magenta-300-root));
    --tss-colors-magenta-400-root: 232,115,188;
    --tss-colors-magenta-400: rgb(var(--tss-colors-magenta-400-root));
    --tss-colors-magenta-500-root: 217,99,171;
    --tss-colors-magenta-500: rgb(var(--tss-colors-magenta-500-root));
    --tss-colors-magenta-600-root: 206,80,158;
    --tss-colors-magenta-600: rgb(var(--tss-colors-magenta-600-root));
    --tss-colors-magenta-700-root: 173,72,134;
    --tss-colors-magenta-700: rgb(var(--tss-colors-magenta-700-root));
    --tss-colors-magenta-800-root: 149,60,116;
    --tss-colors-magenta-800: rgb(var(--tss-colors-magenta-800-root));
    --tss-colors-magenta-850-root: 118,51,90;
    --tss-colors-magenta-850: rgb(var(--tss-colors-magenta-850-root));
    --tss-colors-magenta-900-root: 81,36,64;
    --tss-colors-magenta-900: rgb(var(--tss-colors-magenta-900-root));
    --tss-colors-magenta-1000-root: 60,35,49;
    --tss-colors-magenta-1000: rgb(var(--tss-colors-magenta-1000-root));
    --tss-colors-neutral-0-root: 255,254,255;
    --tss-colors-neutral-0: rgb(var(--tss-colors-neutral-0-root));
    --tss-colors-neutral-100-root: 247,249,247;
    --tss-colors-neutral-100: rgb(var(--tss-colors-neutral-100-root));
    --tss-colors-neutral-200-root: 241,240,243;
    --tss-colors-neutral-200: rgb(var(--tss-colors-neutral-200-root));
    --tss-colors-neutral-300-root: 220,223,224;
    --tss-colors-neutral-300: rgb(var(--tss-colors-neutral-300-root));
    --tss-colors-neutral-400-root: 184,184,191;
    --tss-colors-neutral-400: rgb(var(--tss-colors-neutral-400-root));
    --tss-colors-neutral-500-root: 139,144,150;
    --tss-colors-neutral-500: rgb(var(--tss-colors-neutral-500-root));
    --tss-colors-neutral-600-root: 126,128,139;
    --tss-colors-neutral-600: rgb(var(--tss-colors-neutral-600-root));
    --tss-colors-neutral-700-root: 106,111,117;
    --tss-colors-neutral-700: rgb(var(--tss-colors-neutral-700-root));
    --tss-colors-neutral-800-root: 81,81,89;
    --tss-colors-neutral-800: rgb(var(--tss-colors-neutral-800-root));
    --tss-colors-neutral-900-root: 58,62,65;
    --tss-colors-neutral-900: rgb(var(--tss-colors-neutral-900-root));
    --tss-colors-neutral-1000-root: 42,41,47;
    --tss-colors-neutral-1000: rgb(var(--tss-colors-neutral-1000-root));
    --tss-colors-neutral-1100-root: 29,32,32;
    --tss-colors-neutral-1100: rgb(var(--tss-colors-neutral-1100-root));
    --tss-colors-neutral-100a-root: 24,22,24,0.04;
    --tss-colors-neutral-100a: rgba(var(--tss-colors-neutral-100a-root));
    --tss-colors-neutral-200a-root: 4,22,35,0.05;
    --tss-colors-neutral-200a: rgba(var(--tss-colors-neutral-200a-root));
    --tss-colors-neutral-300a-root: 12,17,15,0.15;
    --tss-colors-neutral-300a: rgba(var(--tss-colors-neutral-300a-root));
    --tss-colors-neutral-400a-root: 7,16,32,0.28;
    --tss-colors-neutral-400a: rgba(var(--tss-colors-neutral-400a-root));
    --tss-colors-neutral-500a-root: 6,11,32,0.47;
    --tss-colors-neutral-500a: rgba(var(--tss-colors-neutral-500a-root));
    --tss-colors-dark-neutral-minus-100-root: 16,19,18;
    --tss-colors-dark-neutral-minus-100: rgb(var(--tss-colors-dark-neutral-minus-100-root));
    --tss-colors-dark-neutral-0-root: 25,24,27;
    --tss-colors-dark-neutral-0: rgb(var(--tss-colors-dark-neutral-0-root));
    --tss-colors-dark-neutral-100-root: 30,32,32;
    --tss-colors-dark-neutral-100: rgb(var(--tss-colors-dark-neutral-100-root));
    --tss-colors-dark-neutral-200-root: 37,36,41;
    --tss-colors-dark-neutral-200: rgb(var(--tss-colors-dark-neutral-200-root));
    --tss-colors-dark-neutral-250-root: 42,45,46;
    --tss-colors-dark-neutral-250: rgb(var(--tss-colors-dark-neutral-250-root));
    --tss-colors-dark-neutral-300-root: 49,48,53;
    --tss-colors-dark-neutral-300: rgb(var(--tss-colors-dark-neutral-300-root));
    --tss-colors-dark-neutral-350-root: 60,64,66;
    --tss-colors-dark-neutral-350: rgb(var(--tss-colors-dark-neutral-350-root));
    --tss-colors-dark-neutral-400-root: 76,76,82;
    --tss-colors-dark-neutral-400: rgb(var(--tss-colors-dark-neutral-400-root));
    --tss-colors-dark-neutral-500-root: 98,103,106;
    --tss-colors-dark-neutral-500: rgb(var(--tss-colors-dark-neutral-500-root));
    --tss-colors-dark-neutral-600-root: 127,128,137;
    --tss-colors-dark-neutral-600: rgb(var(--tss-colors-dark-neutral-600-root));
    --tss-colors-dark-neutral-700-root: 149,154,157;
    --tss-colors-dark-neutral-700: rgb(var(--tss-colors-dark-neutral-700-root));
    --tss-colors-dark-neutral-800-root: 170,170,176;
    --tss-colors-dark-neutral-800: rgb(var(--tss-colors-dark-neutral-800-root));
    --tss-colors-dark-neutral-900-root: 190,194,195;
    --tss-colors-dark-neutral-900: rgb(var(--tss-colors-dark-neutral-900-root));
    --tss-colors-dark-neutral-1000-root: 207,206,211;
    --tss-colors-dark-neutral-1000: rgb(var(--tss-colors-dark-neutral-1000-root));
    --tss-colors-dark-neutral-1100-root: 225,228,227;
    --tss-colors-dark-neutral-1100: rgb(var(--tss-colors-dark-neutral-1100-root));
    --tss-colors-dark-neutral-minus-100a-root: 2,3,5,0.47;
    --tss-colors-dark-neutral-minus-100a: rgba(var(--tss-colors-dark-neutral-minus-100a-root));
    --tss-colors-dark-neutral-100a-root: 188,190,188,0.03;
    --tss-colors-dark-neutral-100a: rgba(var(--tss-colors-dark-neutral-100a-root));
    --tss-colors-dark-neutral-200a-root: 207,205,218,0.08;
    --tss-colors-dark-neutral-200a: rgba(var(--tss-colors-dark-neutral-200a-root));
    --tss-colors-dark-neutral-250a-root: 216,219,230,0.09;
    --tss-colors-dark-neutral-250a: rgba(var(--tss-colors-dark-neutral-250a-root));
    --tss-colors-dark-neutral-300a-root: 228,227,243,0.13;
    --tss-colors-dark-neutral-300a: rgba(var(--tss-colors-dark-neutral-300a-root));
    --tss-colors-dark-neutral-350a-root: 231,238,252,0.17;
    --tss-colors-dark-neutral-350a: rgba(var(--tss-colors-dark-neutral-350a-root));
    --tss-colors-dark-neutral-400a-root: 230,232,247,0.26;
    --tss-colors-dark-neutral-400a: rgba(var(--tss-colors-dark-neutral-400a-root));
    --tss-colors-dark-neutral-500a-root: 232,241,250,0.35;
    --tss-colors-dark-neutral-500a: rgba(var(--tss-colors-dark-neutral-500a-root));
}

.tss-dark-mode {
    --tss-colors-neutral-0-root: 25,24,27;
    --tss-colors-neutral-0: rgb(var(--tss-colors-neutral-0-root));
    --tss-colors-neutral-100-root: 30,32,32;
    --tss-colors-neutral-100: rgb(var(--tss-colors-neutral-100-root));
    --tss-colors-neutral-200-root: 37,36,41;
    --tss-colors-neutral-200: rgb(var(--tss-colors-neutral-200-root));
    --tss-colors-neutral-300-root: 49,48,53;
    --tss-colors-neutral-300: rgb(var(--tss-colors-neutral-300-root));
    --tss-colors-neutral-400-root: 76,76,82;
    --tss-colors-neutral-400: rgb(var(--tss-colors-neutral-400-root));
    --tss-colors-neutral-500-root: 98,103,106;
    --tss-colors-neutral-500: rgb(var(--tss-colors-neutral-500-root));
    --tss-colors-neutral-600-root: 127,128,137;
    --tss-colors-neutral-600: rgb(var(--tss-colors-neutral-600-root));
    --tss-colors-neutral-700-root: 149,154,157;
    --tss-colors-neutral-700: rgb(var(--tss-colors-neutral-700-root));
    --tss-colors-neutral-800-root: 170,170,176;
    --tss-colors-neutral-800: rgb(var(--tss-colors-neutral-800-root));
    --tss-colors-neutral-900-root: 190,194,195;
    --tss-colors-neutral-900: rgb(var(--tss-colors-neutral-900-root));
    --tss-colors-neutral-1000-root: 207,206,211;
    --tss-colors-neutral-1000: rgb(var(--tss-colors-neutral-1000-root));
    --tss-colors-neutral-1100-root: 225,228,227;
    --tss-colors-neutral-1100: rgb(var(--tss-colors-neutral-1100-root));
    --tss-colors-neutral-100a-root: 188,190,188,0.03;
    --tss-colors-neutral-100a: rgba(var(--tss-colors-neutral-100a-root));
    --tss-colors-neutral-200a-root: 207,205,218,0.08;
    --tss-colors-neutral-200a: rgba(var(--tss-colors-neutral-200a-root));
    --tss-colors-neutral-300a-root: 228,227,243,0.13;
    --tss-colors-neutral-300a: rgba(var(--tss-colors-neutral-300a-root));
    --tss-colors-neutral-400a-root: 230,232,247,0.26;
    --tss-colors-neutral-400a: rgba(var(--tss-colors-neutral-400a-root));
    --tss-colors-neutral-500a-root: 232,241,250,0.35;
    --tss-colors-neutral-500a: rgba(var(--tss-colors-neutral-500a-root));
}
