/* Sidebar */


.tss-sidebar {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 250px;
    -webkit-user-select: none;
    user-select: none;
    background: var(--tss-sidebar-background-color);
    transition: 0.3s width ease-out;
}

    .tss-sidebar .tss-default-component-margin {
        margin: 0px !important;
    }

    .tss-sidebar.tss-sidebar-closed {
        max-width: unset;
        width: 54px !important;
        padding-left: 4px;
        padding-right: 4px;
    }

        .tss-sidebar.tss-sidebar-closed .tss-sidebar-commands,
        .tss-sidebar.tss-sidebar-closed .tss-sidebar-badges {
            display: none !important;
        }

    .tss-sidebar > .tss-stack-item:nth-child(2) {
        margin: 0px -12px !important;
        width: calc(100% + 24px) !important;
        padding-left: 12px !important;
    }


.tss-sidebar-header {
}

.tss-sidebar-middle {
}

.tss-sidebar-footer {
}

.tss-sidebar-btn-open {
    isolation: isolate;
    position: relative;
    margin-bottom: 2px;
}

.tss-sidebar-btn {
    margin-bottom: 2px;
}

.tss-sidebar-btn-open .tss-sidebar-btn {
    width: 100%;
    z-index: 1;
}

.tss-sortable-ghost > .tss-sidebar-btn-open > .tss-btn 
 {
    color: var(--tss-primary-foreground-active-color-root);
    background-color: rgba(var(--tss-primary-background-active-color-root), 0.5);
    /*color: var(--tss-default-foreground-hover-color);*/
}

.tss-sidebar-btn.tss-sidebar-selected,
.tss-sidebar-btn-open.tss-sidebar-selected > .tss-sidebar-btn,
.tss-sidebar-nav.tss-sidebar-selected > .tss-sidebar-nav-header.tss-sidebar-btn-open > .tss-btn,
.tss-sidebar-nav.tss-sidebar-selected > .tss-btn {
    color: var(--tss-default-foreground-hover-color);
    background-color: rgba(var(--tss-default-background-hover-color-root), 0.5);
}


.tss-sidebar-btn-open > .tss-btn {
    text-align: left !important;
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 28px !important;
    min-height: unset !important;
}

.tss-sidebar-btn-open > .tss-sidebar-commands > .tss-btn > i {
    width: 24px;
    display: inline-block;
    text-align: center;
    min-width: 24px !important;
    margin-top: 2px;
}

.tss-sidebar-btn.tss-btn > .tss-btn-with-image {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

    .tss-sidebar-btn.tss-btn > .tss-btn-with-image > .tss-image {
        width: 24px !important;
        height: 24px !important;
        object-fit: contain;
        min-width: 24px !important;
        padding:2px;
    }

.tss-sidebar-btn.tss-btn .tss-btn-with-image > .tss-image + span:not(:empty) {
    margin-left: 10px;
    min-width: 16px;
}

.tss-sidebar.tss-sidebar-closed .tss-sidebar-btn.tss-btn,
.tss-sidebar .tss-sidebar-commands-line .tss-btn,
.tss-sidebar-commands-line-extra .tss-btn {
    text-align: center !important;
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
    width: calc(54px - 8px);
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 28px !important;
    min-height: unset !important;
    margin-bottom: 2px !important;
}

.tss-sidebar-btn.tss-btn > i,
.tss-sidebar .tss-sidebar-commands-line .tss-sidebar-command.tss-btn > i
.tss-sidebar-commands-line-extra .tss-sidebar-command.tss-btn > i {
    width: 24px;
    display: inline-block;
    text-align: center;
    min-width: 24px !important;
    margin-top: 2px;
}

.tss-sidebar-btn.tss-btn > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.tss-sidebar-btn.tss-btn > .tss-image,
.tss-sidebar .tss-sidebar-commands-line .tss-sidebar-command.tss-btn > .tss-image,
.tss-sidebar-commands-line-extra .tss-sidebar-command.tss-btn > .tss-image {
    width: 24px !important;
    height: 24px !important;
    object-fit: contain;
    min-width: 24px !important;
}

.tss-sidebar-commands {
    position: absolute;
    right: 4px;
    display: none;
    z-index: 2;
    top: 3px;
    flex-wrap: nowrap;
}

.tss-sidebar-badges {
    position: absolute;
    right: 4px;
    display: flex;
    z-index: 2;
    top: 10px;
    flex-wrap: nowrap;
}

.tss-sidebar-btn-open:hover > .tss-sidebar-commands,
.tss-sidebar-btn-open.tss-sidebar-commands-always-open > .tss-sidebar-commands,
.tss-sidebar-command-menu-is-open.tss-sidebar-commands,
.tss-sidebar-btn-open.tss-sidebar-selected > .tss-sidebar-commands {
    display: flex;
}

.tss-sidebar-btn-open:hover > .tss-sidebar-badges,
.tss-sidebar-btn-open.tss-sidebar-commands-always-open > .tss-sidebar-badges,
.tss-sidebar-command-menu-is-open.tss-sidebar-badges,
.tss-sidebar-btn-open.tss-sidebar-selected > .tss-sidebar-badges {
    display: none;
}


.tss-sidebar-badges > .tss-btn {
    min-height: unset;
    min-width: 20px;
    height: 16px;
    border-radius: 6px;
    font-size: 10px;
    padding: 0px 4px;
    line-height: 16px;
    font-weight: 700;
    white-space: nowrap;
}

.tss-sidebar-commands > .tss-sidebar-command.tss-btn {
    padding: 0px;
    margin: 0px;
    min-height: unset !important;
    height: 22px !important;
    width: 22px !important;
    border-radius: 5px;
}

    .tss-sidebar-commands > .tss-sidebar-command.tss-btn:not(:last-child) {
        margin-right: 4px !important;
    }

    .tss-sidebar-commands > .tss-sidebar-command.tss-btn > .tss-image {
        padding: 0px;
        margin: 0px;
        height: 16px !important;
        width: 16px !important;
        margin:calc(22px - 16px);
        object-fit: contain;
    }
    
.tss-sidebar-badge-transparent-icon{
    opacity: 0.3;
}
    
.tss-sidebar-nav-header {
    position: relative;
    isolation: isolate;
}


    .tss-sidebar-nav-header > .tss-sidebar-nav-arrow.tss-btn {
        position: absolute;
        padding: 0px;
        margin: 0px;
        min-height: unset !important;
        height: 18px !important;
        width: 18px !important;
        border-radius: 4px;
        top: 5px;
        left: 11px;
    }

.tss-sidebar-nav-arrow.tss-btn:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 4px;
    width: 8px;
    height: 8px;
    border: solid rgba(var(--tss-secondary-foreground-color-root), 0.4);
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    transition: transform 0.15s linear;
}

.tss-sidebar-nav-header.tss-sidebar-btn-open > .tss-btn i {
    width: 24px !important;
    min-width: 24px;
    text-align: center;
    margin-top:1px;
}


.tss-sidebar-nav-header.tss-sidebar-btn-open > .tss-btn > .tss-btn-with-image > .tss-image {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px;
}

.tss-sidebar-nav-header.tss-sidebar-btn-open:not(.tss-sidebar-nav-header-empty) > .tss-btn i,
.tss-sidebar-nav-header.tss-sidebar-btn-open:not(.tss-sidebar-nav-header-empty) > .tss-btn > .tss-btn-with-image > .tss-image,
.tss-sidebar-nav-header.tss-sidebar-btn-open.tss-sidebar-nav-header-empty.tss-sidebar-nav-header-dot-if-empty > .tss-btn i,
.tss-sidebar-nav-header.tss-sidebar-btn-open.tss-sidebar-nav-header-empty.tss-sidebar-nav-header-dot-if-empty > .tss-btn > .tss-btn-with-image > .tss-image {
    margin-left: 28px;
}

.tss-sidebar-nav-header.tss-sidebar-btn-open.tss-sidebar-nav-header-empty > .tss-sidebar-nav-arrow {
    display: none;
}

.tss-sidebar-nav-header.tss-sidebar-btn-open.tss-sidebar-nav-header-empty.tss-sidebar-nav-header-dot-if-empty > .tss-btn:before {
    content: '';
    border-radius: 10px;
    background: rgba(var(--tss-secondary-foreground-color-root), 0.2);
    width: 6px;
    height: 6px;
    position: absolute;
    left: 16px;
}

.tss-sidebar-btn-has-icon-click.tss-btn > i,
.tss-sidebar-btn-has-icon-click.tss-btn > .tss-btn-with-image > .tss-image {
    height: 24px;
    line-height: 24px;
}

    .tss-sidebar-btn-has-icon-click.tss-btn > i:hover,
    .tss-sidebar-btn-has-icon-click.tss-btn > .tss-btn-with-image > .tss-image:hover {
        background-color: rgba(0,0,0,0.3);
        border-radius: 6px;
        height: 24px;
        line-height: 24px;
    }



.tss-sidebar-nav.tss-sidebar-nav-open > .tss-sidebar-nav-header.tss-sidebar-btn-open > .tss-sidebar-nav-arrow.tss-btn:after {
    transform: translateY(-2px) translateX(2px) rotate(45deg);
}

.tss-sidebar.tss-sidebar-closed .tss-sidebar-nav-header:after {
    content: "";
    position: absolute;
    left: 19px;
    bottom: 0px;
    width: 6px;
    height: 6px;
    border: solid rgba(var(--tss-secondary-foreground-color-root), 0.4);
    border-width: 0 1px 1px 0;
    transform: rotate(-135deg);
    transition: transform 0.15s linear;
}

.tss-sidebar.tss-sidebar-closed .tss-sidebar-nav.tss-sidebar-nav-open > .tss-sidebar-nav-header:after {
    transform: translateY(-3px) rotate(45deg);
}

.tss-sidebar-command {
}


.tss-sidebar-nav-header {
}

    .tss-sidebar-nav-header.tss-sidebar-btn-open {
    }

.tss-sidebar-nav-arrow {
}


.tss-sidebar-nav {
    margin-bottom: 2px;
}

.tss-sidebar-nav-children {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-8px);
    transition: 0.3s opacity ease-in-out, 0.2s transform ease-in-out;
}

.tss-sidebar-nav.tss-sidebar-nav-open > .tss-sidebar-nav-children {
    height: auto;
    transform: translateY(0);
    opacity: 1;
}

.tss-sidebar-nav > .tss-sidebar-nav-children > :first-child {
        margin-top: 4px;
    }


.tss-sidebar:not(.tss-sidebar-closed) .tss-sidebar-nav-children > .tss-stack-item {
    margin-left: 28px;
    margin-bottom: 2px;
}


.tss-sidebar-commands-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

    .tss-sidebar-commands-line.tss-sidebar-commands-line-closed {
    }

.tss-sidebar-commands-line-extra {
    display: inline-flex;
    flex-wrap: nowrap;
}

    .tss-sidebar-commands-line-extra .tss-btn:not(:last-child) {
        margin-right: 8px;
    }


.tss-sidebar-btn-light {
    background: var(--tss-default-background-active-color);
    border-radius:6px;
}

.tss-sidebar-btn-open:hover > .tss-sidebar-commands > .tss-btn.tss-btn-default {
    color: var(--tss-default-foreground-hover-color);
    background-color: var(--tss-default-background-hover-color);
}

.tss-sidebar-commands-spacer {
    width:1px;
    flex-grow:1;
}

.tss-sidebar-menu > .tss-sidebar-btn-open > .tss-btn,
.tss-sidebar-menu > .tss-sidebar-commands-line > .tss-sidebar-command.tss-btn {
    border: 1px solid transparent;
    height: 36px !important;
    min-height: unset;
    border-radius: 0px;
    margin: 0px;
    padding: 0px 12px;
    min-width: 52px !important;
}

    .tss-sidebar-menu > .tss-sidebar-btn-open > .tss-btn:not(.tss-btn-danger):not(.tss-btn-primary):not(.tss-btn-success),
    .tss-sidebar-menu > .tss-sidebar-commands-line > .tss-sidebar-command.tss-btn:not(.tss-btn-danger):not(.tss-btn-primary):not(.tss-btn-success) {
        background: var(--tss-tooltip-background-color);
        color: var(--tss-tooltip-foreground-color);
        border-color: var(--tss-tooltip-background-color);
    }

    .tss-sidebar-menu > .tss-sidebar-btn-open .tss-btn.tss-btn-default:not(.tss-btn-danger):not(.tss-btn-primary):not(.tss-btn-success):hover,
    .tss-sidebar-menu > .tss-sidebar-commands-line > .tss-sidebar-command:not(.tss-btn-danger):not(.tss-btn-primary):not(.tss-btn-success):hover {
        color: var(--tss-default-background-hover-color);
        background: var(--tss-default-foreground-hover-color);
        border-color: var(--tss-default-foreground-color);
    }


.tss-sidebar-menu > .tss-sidebar-commands-line {
    padding-bottom: 2px;
}

.tss-sidebar-menu > *:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

.tippy-box[data-theme~='tss-sidebar-tippy'] {
    padding: 0px;
    margin: 0px;
    border-radius: 6px;
    overflow: hidden;
}

    .tippy-box[data-theme~='tss-sidebar-tippy'] .tippy-content {
        padding: 0px;
        margin: 0px;
    }
.tss-sidebar-badge{
    min-width:20px;
    padding: 0px;
}
