/* Modal */

.tss-dialog {
    position: relative;
    text-align: left;
    max-height: calc(100% - 32px);
    min-height: 176px;
    min-width: 288px;
    overflow-y: auto;
    display: flex;
    border-radius: 6px;
}

    .tss-dialog .tss-modal-header {
        padding: 12px 12px 0px 12px;
    }

    .tss-dialog .tss-modal-content {
        padding: 0px 12px 0px 12px;
    }

    .tss-dialog .tss-modal-footer {
        padding: 0px 12px 6px 12px;
    }