.tss-sectiontitle {
    padding-bottom: 16px;
    padding-top: 16px;
}

.tss-sectiontitle-icon {
    font-size: 24px !important;
    margin-right: 16px;
    color: var(--tss-primary-color);
}

.tss-sectiontitle-title {
    line-height: 1.2;
}

.tss-sectiontitle-subtitle {
    line-height: 1.2;
}
