/* Slider */
.tss-slider-div {
    width: 100%;
    padding-bottom: 8px;
}

.tss-slider-container {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    display: block;
}

    .tss-slider-container.tss-vertical {
        transform: rotate(270deg);
    }

        .tss-slider-container.tss-vertical .tss-slider {
            margin-left: -50%;
        }

        .tss-slider-container.tss-vertical .tss-slider-fake-progress {
            margin-left: -50%;
        }

        .tss-slider-container.tss-vertical .tss-slider-fake-background {
            margin-left: -50%;
        }

/* The track background (gray) */
.tss-slider-fake-background {
    border-radius: 9999px;
    background-color: var(--tss-default-border-color); /* Tailwind Gray-200 */
    position: relative;
    left: 0px;
    top: 6px;
    height: 6px;
    width: 100%;
    z-index: 0;
    -webkit-user-select: none;
    user-select: none;
}

/* The filled part (primary color) */
.tss-slider-fake-progress {
    border-radius: 9999px 0 0 9999px;
    background-color: var(--tss-primary-background-color); /* Tailwind Blue-600 */
    position: absolute;
    left: 0px;
    top: 6px;
    height: 6px;
    z-index: 0;
    -webkit-user-select: none;
    user-select: none;
}

.tss-slider-container input:hover ~ .tss-slider-fake-progress {
    background-color: var(--tss-primary-background-hover-color);
}

.tss-slider-container input.tss-disabled ~ .tss-slider-fake-progress {
    background-color: var(--tss-disabled-foreground-color);
}

.tss-slider-container input.tss-disabled:hover ~ .tss-slider-fake-progress {
    background-color: var(--tss-disabled-foreground-color);
}

/* The input element itself */
.tss-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px; /* Match track height */
    border-radius: 9999px;
    background-color: transparent; /* Track handles background */
    outline: none;
    cursor: pointer;
    margin: 0;
}

    .tss-slider.tss-fake {
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        left: 0;
        top: 6px;
        z-index: 1;
    }

    /* Webkit Thumb */
    .tss-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid var(--tss-default-border-color);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        margin-top: -5px; /* (thumbHeight - trackHeight) / 2 = (16 - 6) / 2 = 5 */
        transition: all 0.15s ease-in-out;
    }

    /* Firefox Thumb */
    .tss-slider::-moz-range-thumb {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid var(--tss-default-border-color);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        transition: all 0.15s ease-in-out;
    }

    /* Focus Ring on Thumb */
    .tss-slider:focus::-webkit-slider-thumb {
        border-color: var(--tss-primary-border-color);
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--tss-primary-background-color);
    }

    .tss-slider:focus::-moz-range-thumb {
        border-color: var(--tss-primary-border-color);
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--tss-primary-background-color);
    }

    .tss-slider:hover::-webkit-slider-thumb {
        border-color: var(--tss-default-foreground-color);
    }

    .tss-slider:hover::-moz-range-thumb {
        border-color: var(--tss-default-foreground-color);
    }

    .tss-slider.tss-disabled {
        cursor: not-allowed;
    }

        .tss-slider.tss-disabled::-webkit-slider-thumb {
            border-color: var(--tss-disabled-foreground-color);
            background-color: var(--tss-disabled-background-color);
        }

        .tss-slider.tss-disabled::-moz-range-thumb {
            border-color: var(--tss-disabled-foreground-color);
            background-color: var(--tss-disabled-background-color);
        }