.tss-markdown h1,
.tss-markdown h2,
.tss-markdown h3 {
    font-weight: 700;
}

.tss-markdown {
    font-size: var(--tss-font-size-small);
}


.tss-markdown table {
    border: 1px solid var(--tss-default-border-color);
    border-radius: var(--tss-border-radius-md);
    box-shadow: var(--tss-box-shadow);
    overflow: hidden; /* Ensures the table conforms to the rounded corners */
    background-color: var(--tss-default-background-color);
}

    .tss-markdown table {
        width: 100%;
        border-collapse: collapse;
        color: var(--tss-default-foreground-color);
        font-weight: var(--tss-font-weight-regular);
        text-align: left;
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        margin-bottom: 24px;
    }

    .tss-markdown table thead {
        background-color: var(--tss-secondary-background-color);
    }

    .tss-markdown table th {
        padding: 12px 16px;
        color: var(--tss-secondary-foreground-color);
        font-weight: var(--tss-font-weight-semibold);
        border-bottom: 2px solid var(--tss-dark-border-color);
    }

    .tss-markdown table td {
        padding: 12px 16px;
        border-bottom: 1px solid var(--tss-default-border-color);
    }

    .tss-markdown table tbody tr:last-child td {
        border-bottom: none;
    }

    .tss-markdown table tbody tr {
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }

        .tss-markdown table tbody tr:hover {
            background-color: var(--tss-default-background-hover-color);
            color: var(--tss-default-foreground-hover-color);
        }


.tss-markdown ul, .tss-markdown ol, .tss-markdown dl {
    padding-inline-start: 15px
}

.tss-markdown h1, .tss-markdown h2 {
    font-weight: 700 !important;
    font-size: var(--tss-font-size-smallplus) !important
}

    .tss-markdown h3, .tss-markdown h4, .tss-markdown h5, .tss-markdown h6 {
        font-weight: 700 !important;
        font-size: var(--tss-font-size-small) !important
    }

.tss-markdown ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 8px
}

.tss-markdown p {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    margin-top: 0
}

.tss-markdown pre {
    padding: 0;
    margin: 0;
}