.tss-segmentedpivot {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tss-segmentedpivot-wrapper {
    margin-bottom: 16px;
}

.tss-segmentedpivot-titlebar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: var(--tss-border-radius-lg);
    background: var(--tss-secondary-background-color);
    padding: 4px;
    box-shadow: inset 0px 2px 8px var(--tss-colors-dark-neutral-1000);
}

.tss-segmentedpivot-tab {
    padding: 6px 14px;
    cursor: pointer;
    background: transparent;
    border-radius: var(--tss-border-radius-md);
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
    font-size: var(--tss-font-size-smallplus);
    color: var(--tss-secondary-foreground-color);
    font-weight: 500;
}

.tss-segmentedpivot-tab:hover {
    color: var(--tss-default-foreground-color);
}

.tss-segmentedpivot-tab.tss-segmentedpivot-selected {
    background-color: var(--tss-default-background-color);
    color: var(--tss-default-foreground-color);
    box-shadow: var(--tss-shadow-sm);
}

.tss-segmentedpivot-tab.tss-segmentedpivot-selected * {
    color: var(--tss-default-foreground-color);
}


.tss-segmentedpivot-content {
    flex-grow: 1;
    overflow: auto;
}

.tss-segmentedpivot-cached-hidden {
    display: none !important;
}


.tss-segmentedpivot-content > .tss-background-area {
    border-radius: var(--tss-border-radius-lg);
}