/* Sidebar */


.tss-sidebar {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 250px;
    user-select: none;
    background: var(--tss-sidebar-background-color);
    transition: 0.3s width ease-out;
}
    .tss-sidebar .tss-default-component-margin{
        margin:0px !important;
    }

    .tss-sidebar.tss-sidebar-closed {
        max-width: unset;
        width: 54px;
        padding-left: 4px;
        padding-right: 4px;
    }

        .tss-sidebar.tss-sidebar-closed .tss-sidebar-commands {
            display: none !important;
        }

        .tss-sidebar > .tss-stack-item:nth-child(2) {
            margin: 0px -12px !important;
            width: calc(100% + 24px) !important;
            padding-left: 12px !important;
        }


.tss-sidebar-header {

}

.tss-sidebar-middle {

}

.tss-sidebar-footer {

}

.tss-sidebar-btn-open {
    isolation: isolate;
    position: relative;
    margin-bottom: 2px;
}

.tss-sidebar-btn {
    margin-bottom: 2px;
}

.tss-sidebar-btn-open .tss-sidebar-btn {
    width: 100%;
    z-index: 1;
}

.tss-sidebar-btn.tss-sidebar-selected,
.tss-sidebar-btn-open.tss-sidebar-selected .tss-sidebar-btn {
    color: var(--tss-default-foreground-hover-color);
    background-color: rgba(var(--tss-default-background-hover-color-root), 0.5);
}


.tss-sidebar-btn-open > .tss-btn {
    text-align: left !important;
    padding: 0px;
    margin: 0px;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 36px !important;
}

.tss-sidebar-btn-open.tss-btn > i {
    width: 24px;
}

.tss-sidebar-btn.tss-btn > .tss-btn-with-image {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

    .tss-sidebar-btn.tss-btn > .tss-btn-with-image > .tss-image {
        width: 24px !important;
        height: 24px !important;
        object-fit: contain;
    }

.tss-sidebar-btn.tss-btn .tss-btn-with-image > .tss-image + span:not(:empty) {
    margin-left: 10px;
    min-width: 16px;
}

.tss-sidebar.tss-sidebar-closed .tss-sidebar-btn.tss-btn {
    text-align: center !important;
    padding: 0px;
    margin: 0px;
    border-radius: 4px;
    width: calc(54px - 8px);
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 36px !important;
    margin-bottom: 2px !important;
}

.tss-sidebar-btn.tss-btn > i {
    width: 24px;
}

.tss-sidebar-btn.tss-btn > .tss-image {
    width: 24px !important;
    height: 24px !important;
    object-fit:contain;
}

.tss-sidebar-commands {
    position: absolute;
    right: 4px;
    display: none;
    z-index: 2;
    top: 8px;
    flex-wrap: nowrap;
}

.tss-sidebar-btn-open:hover > .tss-sidebar-commands,
.tss-sidebar-btn-open.tss-sidebar-commands-always-open > .tss-sidebar-commands {
    display: inline-flex;
}

.tss-sidebar-commands > .tss-sidebar-command.tss-btn {
    padding: 0px;
    margin: 0px;
    min-height: unset !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 4px;
}

.tss-sidebar-commands > .tss-sidebar-command.tss-btn > .tss-image {
    padding: 0px;
    margin: 0px;
    height: 20px !important;
    width: 20px !important;
    object-fit: contain;
}

.tss-sidebar-nav-header {
    position: relative;
    isolation: isolate;
}


.tss-sidebar-nav-header > .tss-sidebar-nav-arrow.tss-btn {
    position: absolute;
    padding: 0px;
    margin:0px;
    min-height: unset !important;
    height: 18px !important;
    width: 18px !important;
    border-radius: 4px;
    top: 9px;
    left: 8px;
}

.tss-sidebar-nav-arrow.tss-btn:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 4px;
    width: 8px;
    height: 8px;
    border: solid rgba(var(--tss-secondary-foreground-color-root), 0.4);
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    transition: transform 0.15s linear;
}

.tss-sidebar-nav-header.tss-sidebar-btn-open > .tss-btn i {
    margin-left: 28px;
}

.tss-sidebar-nav-header.tss-sidebar-btn-open > .tss-btn > .tss-btn-with-image > .tss-image {
    margin-left: 28px;
}

.tss-sidebar-nav.tss-sidebar-nav-open > .tss-sidebar-nav-header.tss-sidebar-btn-open > .tss-sidebar-nav-arrow.tss-btn:after {
    transform: translateY(-2px) translateX(2px) rotate(45deg);
}

.tss-sidebar.tss-sidebar-closed .tss-sidebar-nav-header:after {
    content: "";
    position: absolute;
    left: 19px;
    bottom: 0px;
    width: 6px;
    height: 6px;
    border: solid rgba(var(--tss-secondary-foreground-color-root), 0.4);
    border-width: 0 1px 1px 0;
    transform: rotate(-135deg);
    transition: transform 0.15s linear;
}

.tss-sidebar.tss-sidebar-closed .tss-sidebar-nav.tss-sidebar-nav-open > .tss-sidebar-nav-header:after {
    transform: translateY(-3px) rotate(45deg);
}

.tss-sidebar-command {

}


.tss-sidebar-nav-header {

}

    .tss-sidebar-nav-header.tss-sidebar-btn-open{

    }

.tss-sidebar-nav-arrow {

}


.tss-sidebar-nav {
    margin-bottom: 2px;
}

.tss-sidebar-nav-children {
    height: 0px;
    overflow: hidden;
    transition: 0.3s height ease-in-out;
}

.tss-sidebar-nav.tss-sidebar-nav-open > .tss-sidebar-nav-children {
    height: auto;
}

.tss-sidebar:not(.tss-sidebar-closed) .tss-sidebar-nav-children > .tss-stack-item {
    margin-left: 28px;
    margin-bottom: 2px;
}
