/* TextBlock*/
.tss-textblock {

}

.tss-text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tss-text-nowrap {
    white-space: nowrap;
}

.tss-text-breakspaces {
    white-space: pre-line; /* fallback for Safari */
    white-space: break-spaces;
}
