/* Stack */
.tss-splitview {
    display:flex;
    height:100%;
    flex-direction:row;
    position:relative;
}

    .tss-splitview.tss-splitview-horizontal {
        display: flex;
        height: 100%;
        flex-direction: column;
        position: relative;
    }

    .tss-splitview > div {
        flex-shrink:0;
        overflow-x: hidden;
    }

    .tss-splitview > .tss-splitter.tss-no-splitter {
        width: 0px !important;
        pointer-events: none;
    }

.tss-splitview:not(.tss-splitview-horizontal) > .tss-splitter {
    background: transparent;
    width: 8px;
    cursor: col-resize;
    user-select: none;
}

.tss-splitview.tss-splitview-horizontal > .tss-splitter {
    background: transparent;
    height: 8px;
    cursor: row-resize;
    user-select: none;
}

.tss-splitter:hover {
    background: transparent;
}

    .tss-splitter:active {
        background: transparent;
    }

.tss-splitview > .tss-splitter {
    position: relative;
    overflow: hidden;
}

.tss-splitview.tss-splitview-horizontal > .tss-splitter:before {
    content: ' ';
    left: 0;
    top: 50%;
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--tss-default-border-color);
    cursor: row-resize;
}

.tss-splitview.tss-splitview-horizontal > .tss-splitter:hover:before {
    left: 0;
    width: 100%;
    top: calc(50% - 1px);
    height: 2px;
    background: var(--tss-primary-background-color) !important;
}

.tss-splitview.tss-splitview-vertical > .tss-splitter:before {
    content: ' ';
    top: 0;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 1px;
    background: var(--tss-default-border-color);
    cursor: col-resize;
}

.tss-splitview.tss-splitview-vertical > .tss-splitter:hover:before {
    top: 0;
    height: 100%;
    left: calc(50% - 1px);
    width: 2px;
    background: var(--tss-primary-background-color) !important;
}

.tss-splitview.tss-splitview-horizontal > .tss-splitter:after {
    content: ' ';
    left: calc(50% - 20px);
    top: calc(50% - 1px);
    position: absolute;
    width: 40px;
    height: 3px;
    background: var(--tss-default-border-color);
    cursor: s-resize;
    transition: all 0.15s ease-in-out;
}

.tss-splitview.tss-splitview-horizontal > .tss-splitter:hover:after {
    left: calc(50% - 40px);
    top: calc(50% - 1.5px);
    width: 80px;
    background: var(--tss-dark-border-color) !important;
}

.tss-splitview.tss-splitview-vertical > .tss-splitter:after {
    content: ' ';
    top: calc(50% - 20px);
    left: calc(50% - 1px);
    position: absolute;
    height: 40px;
    width: 3px;
    background: var(--tss-default-border-color);
    cursor: e-resize;
    transition: all 0.15s ease-in-out;
}

.tss-splitview.tss-splitview-vertical > .tss-splitter:hover:after {
    top: calc(50% - 40px);
    left: calc(50% - 1.5px);
    height: 80px;
    background: var(--tss-dark-border-color) !important;
}
.tss-splitview-panel-style.tss-split-left > *:first-child {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
    z-index: 2;
}

.tss-splitview-panel-style.tss-split-right > *:last-child {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 25.6px 57.6px 0px, rgba(0, 0, 0, 0.18) 0px 4.8px 14.4px 0px;
    z-index: 2;
}
