/* SearchBox */
.tss-searchbox {
    box-shadow: none;
    margin: 1px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    color: var(--tss-default-foreground-color);
    cursor: text;
    align-items: stretch;
    display: block;
    width: 100%;
    outline: transparent none medium;
    padding: 0px 5px;
    background: none;
    margin: 0px;
    height: 36px;
    line-height: 36px;
}

    .tss-searchbox::placeholder {
        color: var(--tss-default-foreground-color) !important;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    .tss-searchbox:focus::placeholder {
        opacity: 0.7;
    }

    .tss-searchbox:hover::placeholder {
        opacity: 0.7;
    }

.tss-searchbox-container {
    display: inline-flex;
    position: relative;
    margin-right: 16px;
    box-shadow: var(--tss-shadow-sm);
    margin: 0px;
    border: 1px solid var(--tss-default-border-color);
    border-radius: var(--tss-border-radius-md);
    background: var(--tss-default-background-color) none repeat scroll 0% 0%;
    color: var(--tss-default-foreground-color);
    cursor: text;
    height: 36px;
    align-items: stretch;
    width: 100%;
    outline: transparent none medium;
    padding: 0px 5px;
    transition: all 0.15s ease-in-out;
}

    .tss-searchbox-container.tss-disabled {
        border-color: var(--tss-disabled-background-color);
        background-color: var(--tss-disabled-background-color);
        color: var(--tss-disabled-foreground-color);
    }

    .tss-searchbox-container.tss-underlined {
        border-radius: 0px;
        border-style: solid;
        border-color: var(--tss-default-background-hover-color);
        border-image: initial;
        border-width: 0px 0px 1px;
        padding-bottom: 1px;
    }

        .tss-searchbox-container.tss-underlined:focus-within {
            border-color: var(--tss-primary-border-color);
            border-width: 0px 0px 2px;
            padding-bottom: 0px;
        }

    .tss-searchbox-container:hover {
        border-color: var(--tss-default-foreground-color);
        box-shadow: var(--tss-shadow-sm-hover);
    }

    .tss-searchbox-container:focus-within {
        border-color: var(--tss-primary-border-color);
        box-shadow: var(--tss-ring-offset-shadow), var(--tss-ring-shadow);
    }

.tss-searchbox-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 16px;
    width: 20px;
    text-align: center;
    color: var(--tss-secondary-foreground-color);
    cursor: text;
    transition: width 0.167s ease 0s;
    overflow: hidden;
}

.tss-searchbox-container.tss-noicon > .tss-searchbox-icon {
    display: none;
}

.tss-searchbox-padding {
    transition: width 0.167s ease 0s;
    width: 0px;
    height: 16px;
}

.tss-searchbox-container:focus-within > .tss-searchbox-icon {
    width: 0px;
}

.tss-searchbox-container:focus-within > .tss-searchbox-padding {
    width: 32px;
}

.tss-searchbox-container.tss-noicon > .tss-searchbox-icon {
    display: none;
    width: 0px;
}

.tss-searchbox-container.tss-noicon:focus-within > .tss-searchbox-icon {
    width: 0px;
}

.tss-searchbox-container.tss-noicon:focus-within > .tss-searchbox-padding {
    width: 0px;
}


.tss-searchable-list-no-match {
    opacity:0.4;
    filter:saturate(0);
}