/* Timeline */

.tss-timeline-owner {
    background: transparent linear-gradient(var(--tss-default-border-color), var(--tss-default-border-color)) no-repeat center/2px 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

/* The actual timeline (the vertical ruler) */
.tss-timeline {
    position: relative;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    isolation: isolate;
    overflow: visible;
}

/* Container around content */
.tss-timeline-container {
    padding: 10px 40px;
    min-height: 60px;
    position: relative;
    width: 50%;
}

    /* The circles on the timeline */
    .tss-timeline-container::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        right: -8px;
        background-color: var(--tss-default-background-color);
        border: 2px solid var(--tss-timeline-circle-color, var(--tss-default-border-color));
        top: 24px;
        border-radius: 50%;
        z-index: 2;
    }

    /* Place the container to the left */
    .tss-timeline-container.tss-left {
        left: 0;
    }

    /* Place the container to the right */
    .tss-timeline-container.tss-right {
        left: 50%;
    }

    /* Fix the circle for containers on the right side */
    .tss-timeline-container.tss-right::after {
        left: -8px;
    }

    /* The actual content */
    .tss-timeline-container .tss-timeline-content {
        padding: 12px 16px;
        position: relative;
        background: var(--tss-default-background-color);
        border-radius: 4px;
        background-clip: padding-box;
        -webkit-box-shadow: var(--tss-card-shadow);
        box-shadow: var(--tss-card-shadow);
        border: 1px solid var(--tss-default-border-color);
        isolation: isolate;
    }

/* Full-width containers */
.tss-timeline-owner.tss-left {
    background: transparent linear-gradient(var(--tss-default-border-color), var(--tss-default-border-color)) no-repeat 20px 0px/2px 100%;
}

    .tss-timeline-owner.tss-left .tss-timeline {
        margin: 0 auto 0 0;
    }

    .tss-timeline-owner.tss-left > .tss-timeline > .tss-timeline-container {
        width: 100%;
        padding-left: 48px;
        padding-right: 20px;
    }

        /* Make sure all circles are at the same spot */
        .tss-timeline-owner.tss-left > .tss-timeline > .tss-timeline-container.tss-left::after {
            left: 13px;
        }
        .tss-timeline-owner.tss-left > .tss-timeline > .tss-timeline-container.tss-right::after {
            left: 13px;
        }

        /* Make all right containers behave like the left ones */
        .tss-timeline-owner.tss-left > .tss-timeline > .tss-timeline-container.tss-right {
            left: 0%;
        }
