
@keyframes tss-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tss-fade-in {
    animation: tss-fade-in 0.5s ease-in-out;
}

.tss-fade-in * {
    animation: tss-fade-in 0.5s ease-in-out;
}
