/* Stack */
.tss-stack {
    display: flex;
    flex-direction: column;
    gap: var(--tss-default-gap, 4px);
}

.tss-stack-item {
    height: auto;
}

.tss-stack.tss-invalid {
    border-color: var(--tss-invalid-border-color);
}


.tss-relative {
    position:relative !important;
}