.tss-fade {
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .tss-fade {
        transition: none;
    }
}

.tss-fade-light {
    transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
    .tss-fade-light {
        transition: none;
    }
}

.tss-fade:not(.tss-show) {
    opacity: 0 !important;
    pointer-events: none !important;
    cursor: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.tss-fade-light:not(.tss-show) {
    opacity: 0.25 !important;
    pointer-events: none !important;
    cursor: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    filter: saturate(0) !important;
}

.tss-collapse {
    display:none !important;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}